html{
    background-color: yellow;
}
nav{
    background-color: white;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    color: black;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10em 0 0
}
#logotext{
    font-weight: bolder;
    font-size: large;
}
#menu{
    position:relative;
    display: inline-block;
    padding: 0em 3em 0em 0em ;
}
#menu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
#menu:hover #menu-content {
    display: block;
  }
#searchbar{
    height: 60%;
    width: 50%;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: rgb(176, 187, 186);
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    align-self: center;
  }
#search-input{
    border-style: none;
    width: 90%;
}
#searchbutton{
    width: 9%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(176, 187, 186);
    align-self: center;
}
#search-btn{
    width: 30%;
    size-adjust:inherit;
    justify-self: center;
    align-self: center;
    margin: 5% 30%;
}
#search-cross{
    width: 3%;
    opacity: 75%;
}
#searchField{
    display: flex;
    flex-direction: row;
    justify-content:start;
    width: 70%;
}
.navbar-icon{
    border-radius: 50%;
    
}

.menu-item:hover{
    cursor:pointer  ;
}
#video{
    background-color: antiquewhite;
    width: 60%;
    height: 80%;
    
}
#description{
    background-color: khaki;
}
#comments{
    background-color: rebeccapurple;
}
.comment{
    background-color: aquamarine;
}
.rec-vid{
    background-color: gold;    
}
