

html{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
}
main{
    margin: 0px;
    padding: 0PX;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #f9f9f9;
}

nav{
    background-color: white;
    height: 5%;
    display: flex;
    flex-direction: row;
    color: black;
    margin: 0px 24px;
    padding: 0px;
    height: 50px;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10em 0 0
}
#logotext{
    font-weight: bolder;
    font-size: large;
    align-self: center;    
}

.rec-title{
    font-size: 14px;    
}
.rec-channel{
    font-size: 12px;
    font-weight: 400;
    color: #606060;
}
.rec-views{
    font-size: 10px;
    font-weight: 400;
    color: #606060;
}
.rec-time{
    font-size: 10px;
    color: #606060;
}
.rec-info{
    height: 94px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
.recomended{
    align-items: center;
    justify-content: center;
}
#menu{
    display: flex;
    flex-direction: row;
    align-self: center;

}
#menu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
#menu:hover #menu-content {
    display: block;
  }
#searchbar{
    height: 60%;
    width: 50%;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: rgb(176, 187, 186);
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    align-self: center;
  }
#search-input{
    border-style: none;
    width: 90%;
}
#searchbutton{
    width: 9%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(176, 187, 186);
    align-self: center;
}
#search-btn{
    width: 30%;
    size-adjust:inherit;
    justify-self: center;
    align-self: center;
    margin: 5% 30%;
}
#search-cross{
    align-self: center;
    opacity: 75%;
}
#voice-srch{
    align-self: center;
    justify-self:center;
}
#searchField{
    display: flex;
    flex-direction: row;
    justify-content:start;
    width: 70%;
}

.menu-item:hover{
    cursor:pointer  ;
}
#video{
    background-color: antiquewhite;
    margin: 24px;
    
}
#interactions{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
}
#titlegrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#description{
    display: block;
   
    margin: 24px;
}
#comments{
    display: block;
    background-color: rebeccapurple;
}
.comment{
    display: block;
    background-color: aquamarine;
}
.rec-vid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 8px;
    padding: 0px;
}
img{
    background-color: #f9f9f98f
}

#title{
    margin: 24px;
}
#titlegrid{
    margin: 24px;
}
.circle{
    border-radius: 50%;
}
#description{
    display: grid;
    grid-template-columns: 1fr 10fr 2fr;
}
#suscribe{
    background-color: #CC0000;
    color: white;
    font-weight: 500;
    font-size: 14px;
   

    text-align: center;
    justify-content: center;
    
    margin: 7px 0px 7px 0px;
    height:fit-content
}
#channel{
    font-size: 14px;
    font-weight: 600;
}
#subscribers{
    font-size: 12px;
    font-weight: 500;
    color: #606060;
}
#description-text{
    font-size: 14px;
    font-weight: 400;
}