

html{
    background-color: #d3a4d3;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
}
main{
    margin: 0px;
    padding: 0PX;
}

nav{
    background-color: white;
    
    height: 5%;
    display: flex;
    flex-direction: row;
    color: black;
    margin: 0px 24px;
    padding: 0px;
    height: 50px;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10em 0 0
}
#logotext{
    font-weight: bolder;
    font-size: large;
    align-self: center;    
}



#menu{
    display: flex;
    flex-direction: row;
    align-self: center;

}
#menu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
#menu:hover #menu-content {
    display: block;
  }
#searchbar{
    height: 60%;
    width: 50%;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: rgb(176, 187, 186);
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    align-self: center;
  }
#search-input{
    border-style: none;
    width: 90%;
}
#searchbutton{
    width: 9%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(176, 187, 186);
    align-self: center;
}
#search-btn{
    width: 30%;
    size-adjust:inherit;
    justify-self: center;
    align-self: center;
    margin: 5% 30%;
}
#search-cross{
    align-self: center;
    opacity: 75%;
}
#voice-srch{
    align-self: center;
    justify-self:center;
}
#searchField{
    display: flex;
    flex-direction: row;
    justify-content:start;
    width: 70%;
}

.menu-item:hover{
    cursor:pointer  ;
}
#video{
    background-color: antiquewhite;
    margin: 24px;
    
}
#interactions{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
}
#titlegrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#description{
    display: block;
    background-color: khaki;
}
#comments{
    display: block;
    background-color: rebeccapurple;
}
.comment{
    display: block;
    background-color: aquamarine;
}
.rec-vid{
    display: block;
    background-color: gold;    
}
