html{
    background-color: yellow;
}
nav{
    background-color: white;
    width: 100%;
    height: 10%;
    border: khaki;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#menu{
    position:relative;

   display: inline-block;
}
#menu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
#menu:hover #menu-content {
    display: block;
  }
#searchbar{
width: 50%;
border: solid;
border-radius: 1px;
border-width: 1px;
display: flex;
flex-direction: row;
  }
#search-input{
    border-style: none;
    width: 90%;
}
#search-btn{
    width: 100%;
    height: 100%;
    background-color: rgb(176, 187, 186);
    opacity: 25%;
}
#search-cross{
    width: 5%;
}
#searchField{
    display: flex;
    flex-direction: row;
    justify-content:start;
    width: 50%;
}
.menu-item:hover{
    cursor:pointer  ;
}
#video{
    background-color: antiquewhite;
    width: 60%;
    height: 80%;
    
}
#description{
    background-color: khaki;
}
#comments{
    background-color: rebeccapurple;
}
.comment{
    background-color: aquamarine;
}
.rec-vid{
    background-color: gold;    
}
