
nav{
    background-color: rgb(25, 27, 29);
    width: 100%;
    height: 10%;
    border: khaki;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: lavender;
}
#menu{
    position:relative;

   display: inline-block;
}
#menu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
#menu:hover #menu-content {
    display: block;
  }
.menu-item:hover{
    cursor:pointer  ;
}
#video{
    background-color: antiquewhite;
    width: 60%;
    height: 80%;
    
}
#description{
    background-color: khaki;
}
#comments{
    background-color: rebeccapurple;
}
.comment{
    background-color: aquamarine;
}
.rec-vid{
    background-color: gold;    
}
